src/main/mule/world-timezone-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3a15eaaf-a996-460d-9440-328e1e0931ec" basePath="/worldtimezone" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="aa47bba6-a344-4ea5-90bf-4af2cc99bf2e" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-timezone-demoFlow" doc:id="b2717924-d270-46e3-a56c-d3f26e0e6055" >
		<http:listener doc:name="Listener" doc:id="0c508b52-462e-4df8-a5be-305451ea387b" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="b4e05100-2b36-475f-936a-2dd5f86d2688" config-ref="HTTP_Request_configuration" path="/{area}/{location}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	area : attributes.uriParams.region,
	location : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
